.empty{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 90%;
    min-height: 80vh;
    margin: 5rem auto;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: .5rem;
    padding: 1.5rem;
    background: #acb6e5;
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); 
    background: linear-gradient(to right, #86fde8, #acb6e5);
}

.favorateImage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorateImage img{
    width: 60%;
}

.favorateDesc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;

}

.favorateDesc p{
    font-size: 1.3rem;
    color: rgb(133, 119, 119);
    line-height: 35px;
}

@media screen and (max-width: 768px) {
    .empty{
        grid-template-columns: 1fr;
    }
}